<div class="column w-100">
  <h1 style="text-align: center"><%= @manager.entry_name %></h1>
  <h3 style="text-align: center"><%= @manager.player_name %></h3>

  <%# <ul>
  <% @players.each do |player| %>
    <%# <li><%= player[0].web_name, <%= player[0].selected_by_percent</li> %>
  <%# <% end %>
  <%# </ul> %>

  <div class="row">
    <div class="column col-8">
      <ul>
      <% Pick.where(fplteam: @manager, gameweek: @gameweek).each do |pick| %>
        <% player = Player.find(pick.player_id) %>
        <li><%= player.web_name%></li>
      <% end %>
      </ul>
    </div>
    <div class="column col-3">
      <h3>Past penalties</h3>
      <% penalties = Penalty.where(fplteam: @manager, status: "confirmed").order(gameweek: :desc) %>
      <% penalties.each do |penalty| %>
        <li>Gameweek <%= penalty.gameweek %>, <%= penalty.player.web_name %>, <%= penalty.points_deducted %> points deducted</li>
      <% end %>
    </div>
  </div>
</div>
