<div class="column col-xs-12 col-m-8">
  <div class="d-flex justify-content-center mb-3">
    <div class="manager-details p-2" style="width: 100%; background-color: #69B578; border-radius: 5px">
      <h1 style="text-align: center"><%= @manager.entry_name %></h1>
      <h3 style="text-align: center"><%= @manager.discord_name %></h3>
      <div class="scores row" style="text-align: center">
        <p><strong>Points post-deductions:</strong></p>
        <p><%= @manager.total_after_deductions %></p>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="column col-6">
      <h4 style="text-align: center">GW <%= @gameweek %> picks</h4>
      <% Pick.where(fplteam: @manager, gameweek: @gameweek).first(11).each do |pick| %>
        <%= render 'player', pick: pick, gameweek: @gameweek %>
      <% end %>
      <hr class="solid">
      <% Pick.where(fplteam: @manager, gameweek: @gameweek).last(4).each do |pick| %>
        <%= render 'player', pick: pick, gameweek: @gameweek %>
      <% end %>
    </div>
    <div class="column col-6">
      <h4 style="text-align: center">Past penalties</h4>
      <% penalties = Penalty.where(fplteam: @manager, status: "confirmed").order(gameweek: :desc) %>
      <% raise %>
      <% penalties.each do |penalty| %>
        <li>Gameweek <%= penalty.gameweek %>, <%= penalty.player.web_name %>, <%= penalty.points_deducted %> points</li>
      <% end %>
      <% if penalties.empty? %>
        <p style="text-align: center">No penalties... yet</p>
      <% end %>
    </div>
  </div>
</div>
