<div class="column" style="text-align: center">
  <% if penalties.empty? %>
    <div id="no-warnings">
      <h2><strong>No penalties in gameweek <%= gameweek %></strong></h2>
    </div>
  <% end %>
  <% unless penalties.empty? %>
    <div class="m-2">
      <h4><strong>Confirmed penalties:</strong></h4>
      <h5>The following penalties have been applied:</h5>
      <p>(This will update when the first game of each gameweek kicks off)</p>
      <% penalties.each do |penalty| %>
        <div class="confirmed-penalty-card">
          <h5><strong><%= penalty.player.web_name %> (<%= penalty.player.past_ownership_stats[gameweek.to_s] %>%)</strong></h5>
          <p><%= penalty.fplteam.entry_name %> (<%= penalty.fplteam.player_name %>)</p>
          <p style="margin: 0px"><%= penalty.points_deducted %> points deducted (so far)</p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
