<div class="column" style="text-align: center">
  <% if penalties.empty? && !illegal_players.empty?%>
    <div id="no-warnings">
      <h2><strong>No transfers needed in gameweek <%= gameweek %></strong></h2>
      <h5>Nobody owns any players over 15% owned</h5>
    </div>
  <% end %>
  <% unless penalties.empty? %>
    <div data-controller="penalties-clipboard">
      <h2><strong>Warnings:</strong></h2>
      <h6>The following must be transferred out by the deadline:</h6>
      <a href="#" data-penalties-clipboard-target="copyButton" data-action="penalties-clipboard#penaltiesList" style="color: blue; text-decoration: underline">Click to copy these to clipboard</a>
      <% penalty_players.each do |player_id| %>
        <div class="penalty-card" data-penalties-clipboard-target="player">
          <h5><strong><%= Player.find(player_id).web_name %> (<%= Player.find(player_id).past_ownership_stats[gameweek] %>%)</strong></h5>
          <% penalties.each do |penalty| %>
            <% if penalty.player_id == player_id %>
              <p><%= penalty.fplteam.entry_name %> – <%= penalty.fplteam.discord_name %></p>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
