<div class="column">
  <h1>Hi admin</h1>
  <% if current_user.photo.attached? %>
    <%= image_tag current_user.photo, height: 100, width: 100, crop: :fill %>
  <% end %>
  <%= simple_form_for(current_user) do |f| %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit %>
  <% end %>

  <h4><%= link_to 'Sign out', destroy_user_session_path, data: {turbo_method: :delete} %></h4>
  <% Sidekiq::ScheduledSet.new.each do |job| %>
    <p><%= job.args[0]["job_class"] %>, scheduled at <%= job.args[0]["scheduled_at"] %>
  <% end %>
</div>
