<div class="row" style="width: 100%">
  <div class="column col-xs-12 col-sm-8 text-center" data-controller="tabs">
    <%= render 'tabs', illegal_players: @illegal_players %>

    <div class="tab-content" data-controller="players-clipboard">
      <% if @illegal_players.any? %>
        <%= render 'main_box', gameweek: @next_gameweek, illegal_players: @illegal_players %>
      <% else %>
        <%= render 'main_box', gameweek: @current_gameweek, illegal_players: @last_week_illegal_players %>
      <% end %>

      <div class="table d-none" data-tabs-target="content" data-tab="2">
        <%= render 'table' %>
      </div>
      <div class="transfers d-none d-flex justify-content-center" data-tabs-target="content" data-tab="3">
        <%= render 'transfers', transfers: @transfers, gameweek: @current_gameweek %>
      </div>
    </div>
  </div>

  <div class="column col-xs-12 col-sm-4 p-0" id="right-column">
    <%= render 'right_column_content', penalties: @penalties, illegal_players: @illegal_players, penalty_players: @penalty_players, gameweek: @next_gameweek %>

    <% if current_user && current_user.admin? %>
      <%= render 'admin_button' %>
    <% end %>
    <%= render 'modal' %>
  </div>
</div>
