<div class="column col-10 mx-auto">

  <h1 style="text-align: center; margin: 20px">League rules</h1>
  <div id="rules-headline">
    <h5>The main rule to remember is: <strong>you can only buy players with an ownership stat of under 10%, and you have to get rid of them when they go over 15%</strong></h5>
  </div>

  <p>A player's ownership stat is called TSB% in the FPL app. This stands for Teams Selected By.</p>

  <p>Every gameweek, 24 hours before the deadline, a 'screenshot' will be taken of every player's ownership stats. These are the numbers we go off for the week. The screenshot will be available on the main page of this site, but we will also share it on Discord. The screenshot is law!!</p>

  <p>If you currently own a player whose ownership stat is over 15%, you will be prompted on Discord to transfer them out before the deadline.</p>

  <p>If you do not transfer out an illegal player, or you transfer in an illegal player, you will get a points deduction of 4 points, plus whatever points that player gets for you for the week</p>

  <div id="faqs">
    <h3>FAQs</h3>
    <dt class="question">I don't understand the under 10%, over 15% thing. What about players between those numbers?</dt>
    <dd class="answer">Say you transfer in a player at 6%. He then has a big week and his ownership subsequently goes up to 13%. You're allowed to continue owning him (unless he tips over 15%), but now others cannot buy him. This is an added strategic element.</dd>
    <dt class="question">I have/transferred in an illegal player, but he's on my bench. As long as he doesn't come on, is that okay?</dt>
    <dd class="answer">If any of your 15 players are illegal to own, you will get a -4 point penalty + a further penalty for the points he scores you. If he stays on the bench, the points he gets you is 0, so you will just get the -4. If he comes off the bench, you will get an additional penalty for his points.</dd>
    <dt class="question">How do chips work?</dt>
    <dd class="answer">
      <p>Basically the same as the normal game. You can use them whenever you like. The only one that needs extra thought is the Free Hit.</p>
      <p>On your free hit, all bets are off and you can bring in any players! No ownership restrictions! Get Haaland, get Salah, whoever you want!</p>
      <p>BUT, if immediately before you Free Hit, one of your normal players slips above 15%, you MUST get rid of them once your team is back to normal.</p>
    </dd>
    <dt class="question">What if I forget to transfer an illegal player out, and then their stat drops below 15%? Can I keep them?</dt>
    <dd class="answer">That player still needs to go. As soon as you start recieving penalties for a particular player, you will continue to recieve penalties for them until their stat drops below 10%</dd>
    <dt class="question">I transferred in a player at under 10%, but in the screenshot he has gone over 10%. Do I get a penalty?</dt>
    <dd class="answer">Tough luck, I'm afraid. The only numbers we go off are the ones in the screenshot 24 hours before the deadline. This is to ensure everyone is going by the same numbers and nobody has an advantage.</dd>
  </div>

  <hr>

  <h3 style="text-align: center">Feedback</h3>
  <p>If you have suggestions or feedback on the rules or this website, please feel free to share here!</p>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <%= form_with(model: Feedback.new, local: true) do |form| %>
          <div class="form-group">
            <%= form.label :name, class: 'form-control-label' %>
            <%= form.text_field :name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form.label :feedback, class: 'form-control-label' %>
            <%= form.text_area :feedback, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form.submit 'Submit', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
