<div class="column" id="penalties">
  <h1>All penalties</h1>
  <%= link_to "New penalty", new_penalty_path, class: "btn btn-primary" %>
  <ul>
  <% @penalties.each do |penalty| %>
    <li style="margin-top: 10px"><strong><%= penalty.fplteam.player_name %> (<%= penalty.fplteam.discord_name %>)<%= link_to "(Edit)", edit_penalty_path(penalty) %></strong></li>
    <ul>
      <li><%= penalty.player.web_name %></li>
      <li>Gameweek <%= penalty.gameweek %></li>
      <li><%= penalty.points_deducted %> points deducted</li>
    </ul>
  <% end %>
  </ul>
</div>
